<div class="header">
  <img routerLink="/home" class="logo" src="assets/images/logo/app-logo.png" alt="logo" />
  <ul class="menu">
    <li routerLinkActive="active-link" class="menu-item">
      <a routerLink="home">Home</a>
    </li>
    <li routerLinkActive="active-link" class="menu-item">
      <a routerLink="bookmarkedNews">Bookmarked News</a>
    </li>
  </ul>
</div>

<div class="marquee-bg">
  <div class="marquee">
    <marquee behavior="" direction="right"
      >Welcome to our Hot Naija News Platform! Breaking news all round the world
      and updates right here. Scroll to see more information.</marquee
    >
  </div>
</div>
