/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import 'ngx-toastr/toastr';


@font-face {
  font-family: "Montserrat";
}

html,
body {
  height: 100%;
  background-color: #F6F5FF;
}
body {
  margin: 0;
  font-family: Montserrat;
}

* {
  font-family: Montserrat;
}
